/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 320px) and (max-width: 720px) {
    .login_btn {
        border: 1px solid black!important;
        background: transparent!important;
        margin-left: 10%;
    }
    .box input{
        padding-left: 7%;
        font-size: 0.63rem;
  }
  .box .l-icon {
   
    font-size: 1rem;
  }
  .box .s-icon {
    font-size: 0.8rem;
}
.btn_go {
    padding: 3px;
}
.db_menu ul li {
    display: inline;
    margin-right: 20px;
}
.input-itms input[type=text] {
    font-size: 0.8rem;
    max-width: 35%;
}
.input-itms select {
    font-size: 0.82rem;
}
.or {
    position: absolute;
    font-size: 13px;
    left: 45%;
    bottom: -70%;
}
.d-btn {
    background-color: transparent;
    border-radius: 30px;
    border-color: #00cccc;
    margin-left: 0px;
    padding: 4px 8px;
    font-size: 1rem;
}
.text-mob-center{
    text-align: center;
}
.img-box {
    padding: 7px 7px;
}
.
  
}